<!DOCTYPE html>
<html>
    <head>
        <title>404 Page</title>
    </head>
    <body>
        <nav>
            <div class="site-title">
                <a href="/">Blog</a>
                <p>Nodejs blog example</p>
            </div>
            <ul>
                <li><a href="/">Posts</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blogs/create">New Post</a></li>
            </ul>
        </nav>

        <h1>404</h1>
        <p>Page not found.</p>
    </body>
</html>
