<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>

        <h1>Blog Heading</h1>

        <% if (blogs.length > 0) { blogs.forEach(blog => { %>
            <h3><%= blog.title %></h3>
        <% })} else { %>
            <p>There is no records for now</p>
        <% } %> 
        
        <%- include('./partials/footer.ejs') %>
</html>
